@import url(https://fonts.googleapis.com/css?family=Mali:400,700);

.App {
  text-align: center;
  min-height: 100vh;
  background-image: url("images/soil.png");
  display: flex;
}

.PlanDeTravail {
  width: 66vw;
  max-height: 100vh;
  padding: 24px;
}

.ResponsiveImg {
  max-width: 100%;
  max-height: 66vh;
}

.Placard {
  width: 33vw;
  height: 95vh;
  overflow: scroll;
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #644832;
}

.EtagerePlacard {

  background-image: url("images/Placard.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.Oeuf {
  width: 33vw;
  height: 33vw;
}

.Button {
  font-family: 'Mali', cursive;
  font-weight: 700;
  color: #FFFCE9;
  background-color: #F2726E;
  border-radius: 50px;
  border-color: #54374C;
  border-style: solid;
  border-width: 12px;
  margin: 24px;
  padding: 24px;
  box-shadow: -12px 12px #452B3E;
  font-size: 2em;
  width: 66vh;
  max-width: 100%;
  animation-name: LogoBtn;
  animation-duration: 2s;
  transition: 0.3s;
}
@keyframes LogoBtn {
  0%   {opacity: 0;}
  80%   {opacity: 0;}
  100% {opacity: 1;}
  }
.Button:hover {
  cursor: pointer;
  background-color: #F99191;
  transition: 0.3s;
}
.Button:active {
  cursor: pointer;
  background-color: #F99191;
  box-shadow: 0px 0px #1D2C5E;
  transform: translate(-12px, 12px);
  transition: 0.3s;
}
